@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

    font-family: 'Lato','sans-serif';
    color: #333;
    line-height: 1.6;
}



ul {

    list-style-type: none;
}

a {

    text-decoration: none;
    color:#333;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

h1, h2 {

    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0px;
    font-size: 30px;
}

h4 {

    font-size: 22px;
}

h5 {

    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

p {

    margin: 10px 0px;

} 

img {

    width:70%;
}
/* navbar */

.navbar .logo {

    font-size: 42px;
    font-weight: 300;
}

.navbar .flex {

    justify-content: flex-start;
    padding-top: 23px;
}

.navbar {

    background-color: #b8babc;
    color: #fff;
    height: 100px;
    align-items: start;
}


.navbar .flex {

    align-items: start;
    justify-content: space-between;
}
.navbar ul {

    display:flex;
}

.navbar a:hover {

    border-bottom: 2px #fff solid;
}

.navbar a {

    color:#fff;
    padding: 10px;
    margin: 0 5px;
    font-size: 28px;
}

.oferta_navbar {

    background-color: #b8babc;
    padding: 20px 30px;
}
.oferta_navbar a {

    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:#fff;
    padding: 0 8px;
    margin:15px;
}

.oferta_navbar a:hover {
    border-bottom: 3px #fff solid;
  }

/* slideshow */

.slideshow { margin: 0px auto; max-width: 1920px; width: 100%; height: 4
    50px; text-align: center; }

.baner { position: relative; padding-left: 0; width: 100%; height: 450px; top: 0; left: 0; right: 0; z-index: 0; }

.baner li { list-style: none; }

.baner li a { display: block; max-width: 1920px; width: 100%; height: 450px; position: absolute; z-index: 1; text-indent: -9999em; }

.baner li span {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
color: transparent;
background-size: cover;
background-position: 50% 50%;
opacity: 0;
z-index: 0;
animation: imageAnimation 20s ease infinite 0s;
}

.baner li:nth-child(1) span {
background-image : url(obrazek.jpg);
}

.baner li:nth-child(2) span {
background-image: url(domek.webp);
animation-delay: 5s;
}

.baner li:nth-child(3) span {
background-image: url(domek1.webp);
animation-delay: 5s;
}


@keyframes imageAnimation { 
0% { opacity: 0;}
5% { opacity: 1;}
25% { opacity: 1;}
67% { opacity: 1;}
100% { opacity: 0;}
}

/* showcase */


.showcase {

    height: 400px;
    background-color:#b8babc;
    color: #fff;
    position: relative;
    padding-left: 10px;
}

.showcase h1 {

    font-size: 40px;

}

.showcase p {

    margin: 20px 0px;
}

.showcase-form {

    position: relative;
    top: 10px;
    height: 350px;
    width: 500px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}

.showcase-form .form-control {

    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {

    border:0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {

    outline: none;
}

.btn {

    display:inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: #047aed;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn-outline {

    background-color: transparent;
    border: 1px #fff solid;
    
}

.showcase .grid {

    grid-template-columns: 55% 45%;
    overflow: visible;
    gap: 30px;
}

.showcase::before,
.showcase::after {

    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-2deg);
}


/* showcase-contact*/

.showcase-contact {

    height: 400px;
    background-color:#b4becb;
    color: #333;
    position: static;
    padding-left: 10px;
}

.showcase-contact h1 {

    font-size: 20px;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;

}

.showcase-contact h2 {

    font-size: 28px;
    letter-spacing: 2px;
    font-weight: bold;
    border-bottom: 1px groove;
    border-bottom-width: thin;
    text-align: center;
    font-size: 35px;
}

.showcase-contact h3 {

    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.showcase-contact form .btn {
    align-items: center;
}


/*main-text */

.miesko {

    background-color: #d3d8df;
}

.miesko div {

    padding: 15px;
}

.miesko .card i {
    margin-right: 20px;
  }
  

/* stats */

.stats {

    padding-top: 100px;
    text-align: center;
}

.text_center {

    justify-content: center;
    text-align: center;
}

.stats-heading {

    max-width: 500px;
    margin: auto;
}

.stats h3 {

    font-size: 24px;
    font-weight: normal;
}

.stats p {

    font-size: 22px;
    font-weight: bold;
}
/* footer */

.footer {

    font-size: 16px;
    padding: 4px;
    text-align: center;

}

.footer p {

    color: #fff;
}

.footer h1 {

    color: #fff;
}

.footer ul {

    padding: 10px;
}

.footer li {

    padding: 4px;
}

/* utilities */

.container {

    max-width: 1110px;
    margin: 0 auto; 
    overflow: auto;
    padding: 0 25px;
    overflow: hidden;
}

.flex {

    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card {

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
    padding: 20px;
    margin: 10px;
    color: #333;
}

.grid-3 {

    grid-template-columns: 1fr 1fr 1fr;
}

.grid-2-2 {

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.my-1 {

margin: 1rem 0;
padding: 1rem;

}

.my-4 {

    margin: 2rem 0;
    padding: 1rem;
}

.py-5 {
    padding: 1rem 0;
}

.bg-dark,
.btn-dark {
    background-color: #131058;
    color: #333;
  }
.details {

    display: inline-block;
    padding: 2rem;
    
}

.fa-phone,
.fa-envelope,
.fa-circle-dot {
    color : #fff;
  }

/* tablet and under */

@media(max-width: 768px) {
    .gird,
    .showcase .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .showcase {

        height:auto
        }    
}



/* mobile */
@media (max-width:500px) {

    .navbar {

        height: 110px;
    
    }
    .navbar .flex {
        flex-direction: column;

    }
    .navbar ul {

        padding: 10px;
        background-color: rgba(0,0,0,1);
    }

    .gird,
    .showcase .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {

        height:auto
    }
    .showcase-text {

        text-align: center;
        margin-top: 30px;
    }
    .showcase-form {
        justify-self: center;
        margin: auto;
    }
}

/* dropdown */

.navbar .nav {
    list-style:none inside;
    margin:0;
    padding:0;
    text-align:center;
    }
.navbar .nav li {
    display:block;
    position:relative;
    float:left;
    background: #b8babc; /* menu background color */
    }
.navbar .nav li a {
    display:block;
    list-style:none inside;
    padding:4px;
    font-size: 22px;
    text-decoration:none;
    width:200px; /* this is the width of the menu items */
    color:#ffffff; /* list item font color */
    }
.navbar .nav li li a {font-size:100%;} /* smaller font size for sub menu items */
.navbar .nav li:hover {background:#b8babc;} /* highlights current hovered list item and the parent list items when hovering over sub menues */
.navbar .nav ul {
    position:absolute;
    overflow: hidden;
    padding:0;
    left:0;
    display:none; /* hides sublists */
    }
.navbar .nav li:hover ul ul {display:none;} /* hides sub-sublists */
.navbar .nav li:hover ul {display:block;} /* shows sublist on hover */
.navbar .nav li li:hover ul {
    display:block; /* shows sub-sublist on hover */
    margin-left:200px; /* this should be the same width as the parent list item */
    margin-top:-35px; /* aligns top of sub menu with top of list item */
    }