
.tekst {

    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-kerning: normal;
    font-weight: bold;
    
    
}

.button {

    color: green;

}

#logo {

    width:200px;
    height:400px;

}

* {

    background-color: black;

}